<!doctype html>
<html>

<head>
    <title>Meadowlark Travel</title>
</head>

<body>
    <header>
        <img src="/img/logo.png" style="width:80px;height:80px" alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}
</body>

</html>