<!doctype html>
<html>

<head>
    <title>Sample express application</title>
    {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css"> {{/if}}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    {{{body}}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script> {{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script> {{/if}}
    <script>mocha.run();</script> {{/if}}
    {{#if pageScript}}<script src="{{pageScript}}"></script> {{/if}}
</body>

</html>